# VS Code
.vscode/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
# Virtual env
.venv/
/venv/
venv_tf/
# macOS
.DS_Store
**/.DS_Store
#file dei pesi troppo grande S
data/interim_tf/train_interim.tfrecord
/data/interim_tf/train_interim.tfrecord

